<!DOCTYPE html>
<html>
<head>
    <title>Z&uuml;rich unbezahlbar – Demo Wall</title>
    <link rel="stylesheet" type="text/css" href="bower_components/pure/pure-min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

    <nav class="theme-nav" data-js-theme-nav></nav>
    <div class="wall" data-js-wall></div>

    <script id="poster-template" type="text/template">
        <div class="poster" style="background: {{= bgColor }}">

            <h3 class="poster__title">Pattern</h3>
            {{ if (pattern) { }}<img src="{{= pattern }}" data-js-svg-fill="{{= patternColor }}" style="fill: {{= patternColor}}" class="poster__pattern" alt="">{{ } }}
            {{ if (hasImage) { }}
            <img src="{{= image }}" class="poster__image" alt="">
            {{ } }}
        </div>
    </script>
    <script type="text/javascript">
        var zub = zub || {};
        zub.elementsAmount = 200;
        zub.wallThemes = {
            'default': {
                colors: [
                    '#00FF00',
                    '#FF0000',
                    '#0000FF',
                    '#FFFF00',
                    '#FF00FF',
                    '#00FFFF',
                ],
                patterns: [
                    // 'media/patterns/sample-pattern.svg',
                    'media/patterns/Patterns_v003_1.svg',
                    'media/patterns/Patterns_v003_2.svg',
                    'media/patterns/Patterns_v003_3.svg',
                    'media/patterns/Patterns_v003_4.svg',
                    'media/patterns/Patterns_v003_5.svg',
                    'media/patterns/Patterns_v003_6.svg',
                    'media/patterns/Patterns_v003_7.svg',
                    // 'media/patterns/Patterns_v003_8.svg',
                    // 'media/patterns/Patterns_v003_9.svg',
                    'media/patterns/Patterns_v003_10.svg',
                    'media/patterns/Patterns_v003_11.svg',
                    'media/patterns/Patterns_v003_12.svg',
                    'media/patterns/Patterns_v003_13.svg',
                    'media/patterns/Patterns_v003_14.svg',
                    'media/patterns/Patterns_v003_15.svg',
                    'media/patterns/Patterns_v003_16.svg',
                    'media/patterns/Patterns_v003_17.svg',
                    ''
                ],
                images: [
                    'media/img/sample-image.jpg'
                ],
            },
            'Dominiks_Final': {
                colors: [
                    '#E74C16',
                    '#E1C806',
                    '#9BC44B',
                    '#0F9639',
                    '#0198A7',
                    '#61A2D8',
                    '#344C9A',
                    '#A4388D',
                    '#E575AB',
                    '#E3171E'
                ]
            },
            'Noras_Latest': {
                colors: [
                    '#FF005C',
                    '#FFF924',
                    '#90FF00',
                    '#00E7FF',
                    '#8582F9'
                ]
            },
            'Daves_Constructed': {
                colors: [
                    '#FFE906',
                    '#FF8400',
                    '#FF0732',
                    '#721EE8',
                    '#0B9EFF',
                    '#2FE800',
                    '#00FFB7',
                    '#0066E8'
                ]
            }
        };
    </script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="wall-generator.js"></script>
</body>
</html>